.theAnalogSystem {
    width: 100%;
    height: 10003px;
}

.theAnalogSystemContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.theAnalogSystemContainerTop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.theAnalogSystemContainerTopContainerText {
    font-size: 44px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: -3.4px;
}

.theAnalogSystemContainerBottom {
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.theAnalogSystemContainerBottomContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 20px;
    width: 100%;
}

.productCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.productCardImage {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
}

.productCardDataLeft {
    position: absolute;
    top: 5px;
    left: 10px;;
}

.productCardDataLeftContainerText {
    color: #1A1A1A;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.1px;
    text-transform: uppercase;
}

.productCardDataRight {
    position: absolute;
    top: 0;
    right: 0;
}

.productCardImageDefault {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}

.productCardImageHover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.productCard:hover .productCardImageDefault {
    opacity: 0;
}

.productCard:hover .productCardImageHover {
    opacity: 1;
}

.productCardInfo {
    margin-top: 10px;
    width: 100%;
}

.productCardInfoOne {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.productCardTitle {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    letter-spacing: -0.4px;
}

.productCardDescription {
    font-size: 15px;
    font-weight: 500;
    color: #A8A8A8;
    letter-spacing: -0.1px;
}

.productCardInfoTwo {
    margin-top: 5px;
}

.productCardPrice {
    font-size: 14px;
    font-weight: 400;
    color: #1A1A1A;
}

.theAnalogSystemContainerBottomButton {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.theAnalogSystemContainerBottomButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFD879;
    border: 1px solid #2D2F24;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 100px;
    gap: 15px;
    cursor: pointer;
}

.theAnalogSystemContainerBottomButtonContainerText {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 56px;
    color: #2D2F24;
}

.homeHeroOverlayTextContainerThreeContainerLeftContainerIcon {
    color: #2D2F24;
    width: 20px;
    height: auto;
}