* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, NavLink {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.fontOne {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}